.col-lg-12
  %h2 Panel de Administración
  = pie_chart admin_states_stats_path('json'), height: '150px'

%table.datatable{:name => "students"}
  %thead
    %tr
      %th ID
      %th Alumno
      %th CUIL
      %th Número de Serie
      %th Modelo
      %th Estado Actual
      %th Razón
  %tbody
    - @students.each do |student|
      %tr{:id => student.id}
        %td{:id => 'id', :width => '5%'}
          = student.id
        %td{:id => 'name'}
          = student.name
        %td{:id => 'cuil'}
          = student.cuil
        %td{:id => 'sn'}
          = student.machine.sn
        %td{:id => 'model'}
          = student.machine.model
        %td{:id => 'state'}
          = student.machine.machine_states.last.state.name
        %td{:id => 'reason'}
          = student.machine.machine_states.last.reason
%br
%br
%br

%div{:style => 'text-align: right'}
  = link_to "Exportar", admin_export_table_path('csv')