.col-lg-12
  %h2 Panel de Administración
  = pie_chart admin_states_stats_path('json'), height: '150px'

%table{:name => "students", :class => "datatable" }
  %thead
    %tr
      %th Alumno
      %th CUIL
      %th Número de Serie
      %th Modelo
      %th Estado Actual
      %th Razón
  %tbody
    - @students.each do |student|
      %tr{:id => student.id}
        %td{:id => 'name'}
          = student.name
        %td{:id => 'cuil'}
          = student.cuil
        %td{:id => 'sn'}
          = student.machine.sn
        %td{:id => 'model'}
          = student.machine.model
        %td{:id => 'state'}
          = student.machine.machine_states.last.state.name
        %td{:id => 'reason'}
          = student.machine.machine_states.last.reason


%br