!!!
%html{:lang => "es"}
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Cinc"
      %meta{:charset => "UTF-8"}/
      %meta{:content => content_for?(:description) ? yield(:description) : "Cinc", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        /[if lt IE 8]
          = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"
        = javascript_include_tag :modernizr
        = javascript_include_tag "//www.google.com/jsapi", "chartkick"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #wrap
      #top
        / .navbar
        %nav.navbar.navbar-inverse.navbar-static-top
          / Brand and toggle get grouped for better mobile display
          %header.navbar-header
            %a.navbar-brand{:href => "index.html"}
              = image_tag 'logo.png'
          / /.topnav
          .collapse.navbar-collapse.navbar-ex1-collapse
            / .nav
            %ul.nav.navbar-nav
              %li
                %a{:href => "dashboard.html"} Panel de Admin
              %li
                %a{:href => "table.html"} Estadísticas
            / /.nav
        / /.navbar
        / header.head
        %header.head
          .main-bar
            %h3
              %i.icon-home
              CINC
          / /.main-bar
        / end header.head
      / /#top
      #left
        %ul#menu.accordion.collapse
          %li.nav-header Menú
          %li.nav-divider
          %li.accordion-group
            %a.accordion-toggle{"data-parent" => "#menu", "data-target" => "#dashboard-nav", "data-toggle" => "collapse", :href => "#"}
              %i.icon-dashboard
              Panel de Admin
          %li.accordion-group
            %a.accordion-toggle{"data-parent" => "#menu", "data-target" => "#dashboard-nav", "data-toggle" => "collapse", :href => "#"}
              %i.icon-bar-chart
              Estadísticas
        / /#menu
      / /#left
      #content
        .outer
          .inner
            .col-lg-12
              %h2 Estado Actual
              = pie_chart({"Servicio Técnico" => 105, "Lista" => 155, "Ingresada" => 225, "Retirada" => 285, "Revisión" => 245})
          / end .inner
        / end .outer
      / end #content
    / /#wrap
    #footer
      %p
        2013
        = link_to "CINC", "http://github.com/fermuch/CINC"
    = javascript_include_tag "application"