!!!
%html{:lang => "es"}
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "CINC"
      %meta{:charset => "UTF-8"}/
      %meta{:content => content_for?(:description) ? yield(:description) : "Cinc", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        /[if lt IE 8]
          = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"
        = javascript_include_tag :modernizr
        = csrf_meta_tags
        = yield(:head)
        = include_gon(watch: true)
        = javascript_include_tag "application"
        = javascript_include_tag "//www.google.com/jsapi", "chartkick"
  %body{:class => "#{controller_name} #{action_name}"}
    #wrap
      #top
        / .navbar
        %nav.navbar.navbar-inverse.navbar-static-top
          / Brand and toggle get grouped for better mobile display
          %header.navbar-header
            %a.navbar-brand{:href => "index.html"}
              = image_tag 'logo.png'
          .topnav
            .btn-toolbar
              .btn-group
                %a#changeSidebarPos.btn.btn-success.btn-sm{"data-original-title" => "Modo Ancho", "data-placement" => "bottom", "data-toggle" => "tooltip"}
                  %i.icon-resize-horizontal
              .btn-group
                %a.btn.btn-default.btn-sm{"data-original-title" => "Backups", "data-placement" => "bottom", "data-toggle" => "tooltip", href: "#"}
                  %i.icon-file
              .btn-group
                = link_to(destroy_user_session_path, {"data-original-title" => "Cerrar Sesión", "data-placement" => "bottom", "data-toggle" => "tooltip", "class" => "btn btn-metis-1 btn-sm", "data-no-turbolink" => true}) do
                  %i.icon-off
          
        / /.navbar
        / header.head
        %header.head
          .search-bar
            %form.main-search
              / TODO: hacerlo funcionar :-P
              .input-group
                %input.input-small.form-control{placeholder: "Buscar alumno ...", type: "text"}/
                %span.input-group-btn
                  %button.btn.btn-default.btn-sm{type: "button"}
                    %i.icon-search

          .main-bar
            %h3
              %i.icon-home
              CINC - Conectar Igualdad Netbook Manager
          / /.main-bar
        / end header.head
      / /#top
      #left
        %ul#menu.accordion.collapse
          %li.nav-header Menú
          %li.nav-divider
          = render :partial => 'layouts/navigation'
        / /#menu
      / /#left
      #content
        .outer
          .inner
            =yield
          / end .inner
        / end .outer
      / end #content
    / /#wrap
    #footer
      %p
        2013
        = link_to "CINC", "http://github.com/fermuch/CINC"