!!!
%html{lang: "es"}
  %head
    %meta{charset: "UTF-8"}/
    %title Iniciar Sesión
    = csrf_meta_tags
    = yield(:head)
    = stylesheet_link_tag('bootstrap_and_overrides')
    = stylesheet_link_tag('/login')
  %body
    .container
      #signin
        .text-center
          = image_tag "logo.png"
          - flash.each do |msg,text|
            %br
            %li.label.label-danger
              = text
        .tab-content
          =yield
    / /container